{% extends "layout.html" %}
{% block title %}tweet{% endblock %}
{% block content %}
    <a style="position: absolute;left: 30px;top: 70px;" class="btn btn-primary " href="{% url 'tweet_create' %}">Create a tweet</a>
    <div class="cont row gap-3" style="position:relative;top: 70px;">
        {% for tweet in tweets%}
        <div class="card" style="width: 18rem;">
            <img src="{{tweet.photo.url}}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{tweet.user.username}}</h5>
              <p class="card-text" style="font-size: 20px;font-family:Arial, Helvetica, sans-serif;">{{tweet.text}}</p>
              <p class="card-text">{{tweet.Gender}}</p>
              <a href="{% url 'tweet_edit' tweet.id%}" class="btn btn-primary">Edit</a>
              <a href="{% url 'tweet_delete' tweet.id%}" class="btn btn-danger">Delete</a>
            </div>
          </div>
        {% endfor %}
    </div>
{% endblock %}